{% extends "layout.html" %}

{% block body %}
<style>
.btn-blue {
    background-color: #1255AA;
    border: 3px solid #008CBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.7em;
    margin: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.13), 0 3px 10px 0 rgba(0,0,0,0.11);
}
.btn-blue:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 6px 0 rgba(0,0,0,0.18);
}
</style>
<p><b>Veikatut kohteet:</b></p>
<br>
<form method="POST" action="{{ url_for('create_moniveto') }}">
  <table>
    {% for tapahtuma in tapahtumat %}
    
              <tr>
            <td>{{ tapahtuma.laji }}</td>
          <th>{{ tapahtuma.koti }}-</td>
          <th>{{ tapahtuma.vieras }}</td>
            <tr></tr>
          <td>Kerroin: {{ tapahtuma.kerroin }}</td>
          <tr></tr>
          <td>Ratkeaa: </td>
          <tr></tr>
          <td>{{ tapahtuma.date_expire }}</td>
          <tr></tr>
          <td>Veikkaus: {{ tapahtuma.veto }}</td>
          
          </tr>
          <td>--------------------------------</td>
      {% endfor %}
      <tr></tr>
      <td>{{ form.panos.label }}</td>
      <td>{{ form.panos }}</td>
      <tr></tr>
      <td>Kokonaiskerroin: {{ kerroin }}</td>
          <tr>
            <td colspan="2">
        <input type="submit" class="btn-blue" value="Vahvista veto"/>
            </td>
          </tr>
      </form>
</table> 
<table style="background-color: antiquewhite; margin: 10px">
        <tr>
          <tr></tr>
          <td>Valitse panos vedollesi ja vahvista veto.</td>
          <tr></tr>
          <td><b>1</b> = Kotivoitto</td>
          <tr></tr>
          <td><b>2</b> = Vierasvoitto</td>
          <tr></tr>
          <td><b>X</b> = Tasapeli</td>
        
        </tr>
        </table>    
<a href="{{ url_for('index') }}">Valikkoon</a>
{% endblock %}