{% extends "layout.html" %}

{% block body %}

<style>
.btn-green {
    background-color: #45622A;
    border: 3px solid #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.4em;
    margin: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.13), 0 3px 10px 0 rgba(0,0,0,0.11);
}
.btn-green:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 6px 0 rgba(0,0,0,0.18);
}
.btn-orange {
    background-color: #DD9900;
    border: 3px solid #FFA500;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.7em;
    margin: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.13), 0 3px 10px 0 rgba(0,0,0,0.11);
}
.btn-orange:hover {
    background-color: #FFA500;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 6px 0 rgba(0,0,0,0.18);
}
</style>

<p><b>Monivetokohteet ja kertoimet tapahtumille:</b></p>
<br>
<form method="POST" action="{{ url_for('ready_moniveto', live=live, sorted=sorted) }}">
  <table>

        <tr>
          <th>{{ tapahtuma1.koti }}-</th>
          <th>{{ tapahtuma1.vieras }}</th>
          <td>{{ tapahtuma1.laji }}</td>
          <td>{{ form.moniveto1 }}</td>
          <tr></tr>
          <td>1: {{ tapahtuma1.kerroin1 }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>X: {{ tapahtuma1.kerroinX }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>2: {{ tapahtuma1.kerroin2 }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>ratkeaa:{{ tapahtuma1.date_expire }}</td>
          
          </tr>
          
          <tr>
            <th>{{ tapahtuma2.koti }}-</th>
            <th>{{ tapahtuma2.vieras }}</th>
            <td>{{ tapahtuma2.laji }}</td>
            <td>{{ form.moniveto2 }}</td>
            <tr></tr>
            <td>1: {{ tapahtuma2.kerroin1 }}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>X: {{ tapahtuma2.kerroinX }}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>2: {{ tapahtuma2.kerroin2 }}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>ratkeaa:{{ tapahtuma2.date_expire }}</td>
              </tr>

            <tr>
                <th>{{ tapahtuma3.koti }}-</th>
                <th>{{ tapahtuma3.vieras }}</th>
                <td>{{ tapahtuma3.laji }}</td>
                <td>{{ form.moniveto3 }}</td>
                <tr></tr>
                <td>1: {{ tapahtuma3.kerroin1 }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>X: {{ tapahtuma3.kerroinX }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>2: {{ tapahtuma3.kerroin2 }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>ratkeaa:{{ tapahtuma3.date_expire }}</td>
          </tr>

          <tr>
            <th>{{ tapahtuma4.koti }}-</th>
          <th>{{ tapahtuma4.vieras }}</th>
          <td>{{ tapahtuma4.laji }}</td>
          <td>{{ form.moniveto4 }}</td>
          <tr></tr>
          <td>1: {{ tapahtuma4.kerroin1 }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>X: {{ tapahtuma4.kerroinX }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>2: {{ tapahtuma4.kerroin2 }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>ratkeaa:{{ tapahtuma4.date_expire }}</td>
            </tr>

            <tr>
                <th>{{ tapahtuma5.koti }}-</th>
          <th>{{ tapahtuma5.vieras }}</th>
          <td>{{ tapahtuma5.laji }}</td>
          <td>{{ form.moniveto5 }}</td>
          <tr></tr>
          <td>1: {{ tapahtuma5.kerroin1 }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>X: {{ tapahtuma5.kerroinX }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>2: {{ tapahtuma5.kerroin2 }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>ratkeaa:{{ tapahtuma5.date_expire }}</td>
                </tr>
            
                <tr>
                    <th>{{ tapahtuma6.koti }}-</th>
          <th>{{ tapahtuma6.vieras }}</th>
          <td>{{ tapahtuma6.laji }}</td>
          <td>{{ form.moniveto6 }}</td>
          <tr></tr>
          <td>1: {{ tapahtuma6.kerroin1 }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>X: {{ tapahtuma6.kerroinX }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>2: {{ tapahtuma6.kerroin2 }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>ratkeaa:{{ tapahtuma6.date_expire }}</td>
                    </tr>
      
          <tr>
            <td colspan="2">
        <input type="submit" class="btn-green" value="Veikkaa"/>
            </td>
          </tr>
      </form>

      <form method="POST" action="{{ url_for('group_moniveto_byLaji', live=live) }}">
        <tr>
            <td colspan="2">
        <input type="submit" class="btn-orange" value="Lajittele lajin mukaan"/>
            </td>
          </tr> 
      </form>
</table>  

<table style="background-color: antiquewhite; margin: 10px">
        <tr>
          <tr></tr>
          <td>Veikkaa haluamiasi tapahtumia asettamalla valintaruutuun jokin merkeistä <b>1</b>, <b>X</b> tai <b>2</b>.</td>
          <tr></tr>
          <td><b>1</b> = Kotivoitto</td>
          <tr></tr>
          <td><b>2</b> = Vierasvoitto</td>
          <tr></tr>
          <td><b>X</b> = Tasapeli</td>
        
        </tr>
        </table>
<a href="{{ url_for('index') }}">Valikkoon</a>
{% endblock %}