{% extends "layout.html" %}

{% block body %}
<p><b>Kohde:</b></p>
<br>
<form method="POST" action="{{ url_for('create_tulosveto', tapahtuma_id=tapahtuma.id) }}">
  <table>
   
    
              <tr>
          <td>{{ tapahtuma.koti }}</td>
          <td>{{ tapahtuma.vieras }}</td>
          <td>{{ tapahtuma.laji }}</td>
          <td>{{ tapahtuma.date_expire }}</td>
          </tr>
          </table>
        
        <tr>
                <td>Koti:{{ form.tulosveto_koti }}</td>
                <td>Vieras:{{ form.tulosveto_vieras }}</td>
              </tr>
       
            <td>{{ form.panos.label }}</td>
            <td>{{ form.panos }}</td>
            <td></td>
        
          <tr>
            <td colspan="2">
        <input type="submit" value="Vahvista veikkaus"/>
            </td>
          </tr>
      </form>
</table>     
<a href="{{ url_for('index') }}">Valikkoon</a>
{% endblock %}