{% extends "layout.html" %}

{% block body %}
<style>
.btn-green {
    background-color: #45622A;
    border: 3px solid #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.4em;
    margin: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.13), 0 3px 10px 0 rgba(0,0,0,0.11);
}
.btn-green:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 6px 0 rgba(0,0,0,0.18);
}
</style>
<p><b>Veikattu kohde:</b></p>
<br>
<form method="POST" action="{{ url_for('update_tulosveto', veto_id=veto_id) }}">
  <table>

        <tr>
          <th>{{ tapahtuma.koti }}-</th>
          <th>{{ tapahtuma.vieras }}</th>
          <tr></tr>
          <td>{{ tapahtuma.laji }}</td>
          </tr>
          
          <tr>
            <td>Koti:{{ form.tulosveto_koti }}</td>
            <td>Vieras:{{ form.tulosveto_vieras }}</td>
          </tr>
          <tr>
            <td colspan="2">
        <input type="submit" class="btn-green" value="Veikkaa"/>
            </td>
          </tr>
      </form>
</table>
<table style="background-color: antiquewhite; margin: 10px">
        <tr>
            <td>Muuta koti- ja vierasjoukkueen maalimäärien veikkaustasi.</td>
            <tr></tr>
            <td>Kerroin määräytyy myöhemmin vedon todennäköisyyden perusteella.</td>
            
        </tr>
        </table>          
<a href="{{ url_for('index') }}">Valikkoon</a>
{% endblock %}