{% extends "layout.html" %}

{% block body %}
{{ error }}
<style>
.btn-green {
  background-color: #45622A;
  border: 3px solid #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1.4em;
  margin: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.13), 0 3px 10px 0 rgba(0,0,0,0.11);
}
.btn-green:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 6px 0 rgba(0,0,0,0.18);
}
</style>
<form method="POST" action="{{ url_for('auth_new') }}">
  <table>
      <td>
          <ul>
            {% for error in form.tunnus.errors %}
            
            {% endfor %}
          </ul>
        </td>
        <tr>
          
                <td>
              {{ form.nimi.label }}
                </td>
                <td>
              {{ form.nimi }}
                </td>
              </tr>
    <tr>
      <td>
	{{ form.tunnus.label }}
      </td>
      <td>
	{{ form.tunnus }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.salasana.label }}
      </td>
      <td>
	{{ form.salasana }}
      </td>
      
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" class="btn-green" value="Luo uusi käyttäjä"/>
      </td>
    </tr>
</form>
<td>
<a href="{{ url_for('auth_login') }}">Takaisin</a>
</td>
{% endblock %}