{% extends "layout.html" %}

{% block body %}
<style>
.btn-blue {
    background-color: #1255AA;
    border: 3px solid #008CBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.7em;
    margin: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.13), 0 3px 10px 0 rgba(0,0,0,0.11);
}
.btn-blue:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 6px 0 rgba(0,0,0,0.18);
}
.btn-poista {
    background-color: #E33025;
    border: 3px solid #F44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    margin: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.13), 0 3px 10px 0 rgba(0,0,0,0.11);
}
.btn-poista:hover {
    background-color: #F44336;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 6px 0 rgba(0,0,0,0.18);
}
</style>
<table>
    <b>{{ error }}</b>
    {% if current_user.is_authenticated %}
    <table style="background-color: #ddddff; margin: 15px">
    <th>Rahaa pelitilillä: {{ current_user.getRahat()}}</th>
    <tr></tr>
    </table>
    {% endif %}
    <tr></tr>
    <table style="background-color: #aaaaff; margin: 15px">
    <th>Tapahtumahistoria:</th>
    <tr></tr>
{% for tapahtuma in tilitapahtumat %}
        <tr>
          <td>{{ tapahtuma.date_created }}</td>
          <td>{{ tapahtuma.info }}</td>
          <td>{{ tapahtuma.siirto }}</td>
          </tr>
          {% endfor %}
          </table>
          </table>
<tr></tr>
<form method="POST" action="{{ url_for('tilitapahtuma_pelitilille') }}">
  <table style="background-color: yellow; margin: 15px">
    <tr>
      
      <th>Siirrä rahaa pelitilille:</th>
      <tr></tr>
        <td>
            {{ tilisiirtoform.tilisiirto.label }}
          </td>
          <td>
            {{ tilisiirtoform.tilisiirto }}
          </td>   

<td colspan="3">
  <input type="submit" class="btn-blue" value="Siirrä"/>
</td>
    </tr>
    </table>
</form>
<tr></tr>
<form method="POST" action="{{ url_for('tilitapahtuma_pankkitilille') }}">
    <table style="background-color: yellow; margin: 15px">
      <tr>
        <th>Siirrä rahaa pankkitilille:</th>
        <tr></tr>
          <td>
              {{ pankkisiirtoform.pankkisiirto.label }}
            </td>
            <td>
              {{ pankkisiirtoform.pankkisiirto }}
            </td>
            
  <td colspan="3">
    <input type="submit" class="btn-blue" value="Siirrä"/>
  </td>
      </tr>
      </table>
  </form>


  <form method="POST" action="{{ url_for('delete_tilitapahtumat') }}">
    <tr>
  <td colspan="3">
    <input type="submit" class="btn-poista" value="Poista historia"/>
  </td>
      </tr>
  </form>
  <tr></tr>


  <a href="{{ url_for('index') }}">Valikkoon</a>

{% endblock %}